@media (min-width: 460px) {
    nav {
        background-color: #fff;
        display: flex;
        justify-content: center;
        height: 120px;
    }
    nav .row {
        width: 80%;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    nav .col-md-2 {
        display: flex;
        justify-content: flex-start;
    }
    nav .col-md-10 {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
    }
    nav li {
        margin: 0;
        margin-left: 4em;
    }
    .hide-for-medium {
        display: none;
    }
    .taxi-bg {
        background-image: url(../img/taxi.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center 92%;
        height: 100vh;
    }
    .yellow-box {
        background-color: #F7B617;
        color: #fff;
        float: right;
        width: 548px;
        height: 382px;
        padding: 3em;
        margin-top: 135px;
    }
    .yellow-box button {
        font-size: 1.2em;
        font-weight: bold;
        color: #000;
        border-radius: 5px;
        padding: 0.75em;
    }
    .yellow-box p:first-child,
    .yellow-box p:nth-child(2) {
        font-size: 2.6em;
        line-height: 35px;
        margin: 0;
    }
    .yellow-box p:nth-child(2) {
        margin-bottom: 1em;
    }
    .yellow-box p:nth-child(3) {
        font-size: 1.5em;
        float: left;
        margin-right: 0.7em;
        margin-bottom: 0.8em;
    }
    .yellow-box img {
        position: relative;
        top: 5px;
    }
    .yellow-box p:nth-child(5) {
        clear: both;
        margin-bottom: 2.5em;
    }
    .yellow-box p:nth-child(7) {
        text-align: center;
        position: relative;
        margin: 0;
        width: 40%;
        top: -30px;
        margin: auto;
    }
    #descarga {
        color: #fff;
        padding: 3em 0;
        height: 450px;
    }
    #descarga .row {
        width: 80%;
        height: 100%;
        padding: 3em;
    }
    #descarga .col-md-6:first-child img {
        text-align: center;
        height: 290px;
        margin-left: 80px;
    }
    #descarga .col-md-6:last-child {
        font-size: 1.2em;
        padding: 0 3em 0 2em;
    }
    #descarga h3 {
        font-size: 1.52em;
        font-weight: 600;
        margin-bottom: 1em;
    }
    #descarga .col-md-6:last-child p {
        width: 90%;
    }
    #descarga .col-md-6:last-child p:nth-child(2) {
        margin-bottom: 1em;
    }
    .driving-bg {
        background-image: url(../img/conduce.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center 55%;
        height: 450px;
    }
    #conduce .col-md-4 {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        height: 450px;
        padding: 3em;
        float: right;
    }
    #conduce .col-md-4 h3 {
        margin-top: 3em;
    }
    #conduce button {
        color: #fff;
        border: 0;
    }
    #conduce button:hover {
        background-color: #ffb400;
    }
    #map {
        width: 400px;
        height: 400px;
    }
    #tarifa .row {
        padding: 3em 6em;
    }
    #tarifa .row .col-md-5:first-child {
        color: white;
    }
    #tarifa .row .col-md-5:last-child {
        border: 2px solid #fff;
    }
    #tarifa h3 {
        margin: 2em 0 1em 0;
    }
    #tarifa p {
        font-size: 1.2em;
    }
    #tarifa input {
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
        width: 65%;
        padding: 0.5em;
        margin: 0 0 0 0.5em;
        outline: none;
    }
    ::-webkit-input-placeholder {
        color: #fff;
    }
    #tarifa .col-md-12 div {
        margin: 1.5em 0;
    }
    #ruta {
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 25%;
        outline: none;
    }
    #tarifa .hide-for-small p {
        font-size: 3em;
        text-align: center;
    }
}