* {
    font-family: "Open Sans", sans-serif;
}

nav a {
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

nav a:hover {
    color: #333;
    text-decoration: none;
}