@media screen and (max-width: 460px) {
    nav {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: center;
        height: 120px;
        padding: 0;
    }
    nav .row {
        text-align: center;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    nav .row:nth-child(2) {
        display: block;
        margin: 0;
        padding: 0;
    }
    nav .row .col-sm-2 {
        font-size: 1.3em;
        color: #666;
        cursor: pointer;
    }
    nav .row .col-sm-2:hover {
        color: #ccc;
    }
    nav .row .col-sm-10 {
        margin-left: 22%;
    }
    nav img {
        height: 20px;
    }
    nav li {
        margin: 0;
        margin-left: 4em;
    }
    #menu-options li {
        padding: 3.5em 1.5em;
    }
    #menu-options a {
        color: #333;
        cursor: pointer;
    }
    #menu-options a:hover {
        text-decoration: none;
    }
    .taxi-bg {
        background-image: url(../img/taxi.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom center;
        height: 88vh;
    }
    .yellow-box {
        background-color: #F7B617;
        color: #fff;
        position: absolute;
        right: 0;
        bottom: 125px;
        width: 325px;
        height: 290px;
        padding: 3em;
    }
    .yellow-box p:first-child {
        font-size: 2.6em;
        line-height: 40px;
        margin: 0;
    }
    .yellow-box img {
        position: relative;
        top: 4px;
        left: 10px;
        height: 25px;
        margin-bottom: 3em;
    }
    .yellow-box button {
        font-size: 1.2em;
        font-weight: bold;
        color: #000;
        border-radius: 5px;
        padding: 0.75em;
    }
    .hide-for-small {
        display: none;
    }
}