@media screen and (max-width: 460px) {
    header {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: center;
        height: 120px;
        padding: 0;
    }
    header .row {
        text-align: center;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header .row:nth-child(2) {
        display: block;
        margin: 0;
        padding: 0;
    }
    header .row .col-sm-2 {
        font-size: 1.3em;
        color: #666;
        cursor: pointer;
    }
    header .row .col-sm-2:hover {
        color: #ccc;
    }
    header .row .col-sm-10 {
        margin-left: 22%;
    }
    header img {
        height: 20px;
    }
    nav li {
        margin: 0;
        margin-left: 4em;
    }
    #menu-options li {
        padding: 3.5em 1.5em;
    }
    #menu-options a {
        color: #333;
        cursor: pointer;
    }
    #menu-options a:hover {
        text-decoration: none;
    }
    .hide-for-small {
        display: none;
    }
}