@media screen and (max-width: 460px) {
    nav {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: center;
        height: 120px;
        padding: 0;
    }
    nav .row {
        text-align: center;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    nav .row:nth-child(2) {
        display: block;
        margin: 0;
        padding: 0;
    }
    nav .row .col-sm-2 {
        font-size: 1.3em;
        color: #666;
        cursor: pointer;
    }
    nav .row .col-sm-2:hover {
        color: #ccc;
    }
    nav .row .col-sm-10 {
        margin-left: 22%;
    }
    nav img {
        height: 20px;
    }
    nav li {
        margin: 0;
        margin-left: 4em;
    }
    #menu-options li {
        padding: 3.5em 1.5em;
    }
    #menu-options a {
        color: #333;
        cursor: pointer;
    }
    #menu-options a:hover {
        text-decoration: none;
    }
    .taxi-bg {
        background-image: url(../img/taxi.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom center;
        height: 88vh;
    }
    .yellow-box {
        color: #fff;
        float: right;
        bottom: 125px;
        width: 80%;
        height: 290px;
        margin-top: 150px;
        padding: 3em;
    }
    .yellow-box p:first-child {
        font-size: 2.6em;
        line-height: 40px;
        margin: 0;
    }
    .yellow-box img {
        position: relative;
        top: 4px;
        left: 10px;
        height: 25px;
        margin-bottom: 3em;
    }
    .yellow-box button {
        font-size: 1.2em;
        font-weight: bold;
        color: #000;
        border-radius: 5px;
        padding: 0.75em;
    }
    #descarga {
        color: #fff;
        padding: 3em 0;
    }
    #descarga .row {
        text-align: center;
        border: none;
        width: 100%;
        margin: auto;
        padding: 0 1em;
    }
    #descarga .col-sm-12:first-child {
        border: 1px solid #fff;
        margin-bottom: 3em;
        padding: 3em 5em;
    }
    #descarga .col-sm-12:first-child p {
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 1em;
    }
    #descarga .col-sm-12:last-child p {
        font-size: 1.4em;
        margin: 0;
    }
    .driving-bg {
        background-image: url(../img/conduce.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #conduce .col-md-4 {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 4em 1em;
    }
    #conduce .col-md-4 h3 {
        font-weight: 600;
    }
    #conduce .col-md-4 h3,
    #conduce .col-md-4 p {
        font-size: 1.2em;
    }
    #conduce .col-md-4 p {
        width: 80%;
        margin-bottom: 1.5em;
    }
    #conduce button {
        font-size: 1.2em;
        padding: 0.8em 1.5em;
        color: #fff;
        border: 0;
    }
    #conduce button:hover {
        background-color: #ffb400;
    }
    #tarifa .row {
        padding: 6em 0;
    }
    #tarifa .row .col-sm-12:first-child {
        color: white;
    }
    #tarifa h3 {
        margin-bottom: 1em;
    }
    #tarifa p {
        font-size: 1.3em;
        margin-bottom: 3em;
    }
    #tarifa input {
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 8px;
        width: 90%;
        padding: 1em;
        margin: 0 0 0 0.5em;
        outline: none;
    }
    ::-webkit-input-placeholder {
        color: #fff;
    }
    #tarifa .col-md-12 div {
        margin: 1.5em 0;
    }
    #ruta {
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 33%;
        outline: none;
    }
    footer {
        background-color: #2B2B2B;
        color: #fff;
        padding: 0 1.5em;
    }
    footer .row:first-child {
        border-bottom: 1px solid #fff;
        padding: 3.5em 0 1.3em 0;
    }
    footer .row:nth-child(3) {
        border-bottom: 1px solid #fff;
        padding: 1.5em 0;
    }
    footer .row:nth-child(3) li {
        margin-bottom: 1.3em;
    }
    footer .row:nth-child(3) .col-sm-6 {
        padding: 0;
        float: left;
    }
    footer .row:nth-child(3) .col-sm-6:last-child {
        float: right;
    }
    footer .row:nth-child(3) li:last-child {
        margin: 0;
    }
    footer .row:nth-child(3) a {
        color: #ccc;
    }
    footer .row:nth-child(3) i {
        font-size: 1.2em;
        margin-bottom: 2em;
        margin-right: 0.8em;
        cursor: pointer;
    }
    footer .row:nth-child(3) i:hover {
        color: #F7B617;
    }
    footer .row:nth-child(3) img {
        width: 100%;
        display: block;
        margin-top: 1em;
    }
    footer .row:nth-child(4) {
        color: #ccc;
        text-align: center;
        padding: 2em 0 4.5em 0;
    }
    .hide-for-small {
        display: none;
    }
}